// Custom.scss
// Option B: Include parts of Bootstrap

// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
//@use "../-node_modules/bootstrap/scss/functions";
@import "bootstrap-5.3.8/functions";

// 2. Include any default variable overrides here

$blue: #131879;
$teal: #00A19A; 
/*
$body-color: #000000; //var(--wtf-body-color);
*/

//$blue: #131879;
//$enable-shadows: true;
$grid-columns:100;
//$grid-gutter-width: 0rem;
$prefix: "wtf-";

//btn
$btn-border:0;
$btn-border-radius:0;
$btn-border-radius-sm: 0;
$btn-border-radius-lg: 0;

$carousel-control-width:5%;



// 3. Include remainder of required Bootstrap stylesheets (including any separate color mode stylesheets)
@import "bootstrap-5.3.8/variables";
@import "bootstrap-5.3.8/variables-dark";

// 4. Include any default map overrides here


// 5. Include remainder of required parts
@import "bootstrap-5.3.8/maps";
@import "bootstrap-5.3.8/mixins";
@import "bootstrap-5.3.8/root";


// 6. Optionally include any other parts as needed
@import "bootstrap-5.3.8/utilities";
@import "bootstrap-5.3.8/reboot";
@import "bootstrap-5.3.8/type";
@import "bootstrap-5.3.8/images";
@import "bootstrap-5.3.8/containers";
@import "bootstrap-5.3.8/grid";
@import "bootstrap-5.3.8/helpers";

// 7. Optionally include utilities API last to generate classes based on the Sass map in `_utilities.scss`
@import "bootstrap-5.3.8/utilities/api";



// 8. Add additional custom code here
@import "bootstrap-5.3.8/bootstrap";
