.navbar {
  z-index: 1044;
  --wtf-navbar-brand-font-size: 1.5rem;
  --wtf-navbar-padding-y: 0rem;
  --wtf-emphasis-color: var(--wtf-primary);
  --wtf-emphasis-color-rgb: var(--wtf-primary-rgb);

  .navbar-toggler {
    color: var(--wtf-emphasis-color);

    svg {
      width: var(--wtf-body-font-size);
      height: var(--wtf-body-font-size);
      fill: currentColor;
    }
  }

  .nav-item {
    font-size: var(--wtf-body-font-size);

    svg {
      width: var(--wtf-body-font-size);
      height: var(--wtf-body-font-size);
      fill: currentColor;
    }
  }


  .nav-link {
    font-size: var(--wtf-body-font-size);

    svg {
      width: var(--wtf-body-font-size);
      height: var(--wtf-body-font-size);
      fill: currentColor;
    }
  }

  &:hover {
    --wtf-link-color: rgba(var(--wtf-emphasis-color-rgb), 1);
  }
}






