//@include wtfBg;
@mixin wtfBg {
    &-100vh {
        height: 100vh;
    }
    &-primary {
        background-color: var(--wtf-primary);
        --wtf-emphasis-color-rgb: var(--wtf-light-rgb);
        --wtf-emphasis-color: var(--wtf-light);
    }

    &-secondary {
        background-color: var(--wtf-secondary);
    }

    &-primary-emphasis {
        background-color: var(--wtf-primary-text-emphasis);
    }

    &-primary-subtle {
        background-color: var(--wtf-primary-bg-subtle);
    }

    &-video {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        z-index: -1;
        opacity: 0.15;
        overflow: hidden;

        .video-content {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            overflow: hidden;
        }
    }

    &-placeholder-img {
        height: var(--wtf-theme-hero-size);
        display: block;
        fill: var(--wtf-primary);
    }

    &-image {
        background-image: var(--wtf-gradient), var(--wtf-bg-image);
        background-size: cover;
        background-position: top;
        position: relative;
        height: var(--wtf-theme-hero-size);
        overflow: hidden;
    }

    &-img {
        height: var(--wtf-theme-hero-size);

        img {
            height: 100%;
            width: 100%;
            -o-object-fit: cover;
            object-fit: cover;
            overflow: hidden;
            display: block;
        }
    }
}

//@include wtfBgWtfLinewtfTypeWhite;
/*
@mixin wtfBgWtfLinewtfTypeWhite {
    &-primary,
    &-primary-emphasis,
    &-black {
        @include wtfTypeWtfLineWhite;
    }
}*/

//@include wtfBgWtfPolygonBgTheme;
@mixin wtfBgWtfPolygonBgTheme {
    &-theme {
        //padding: 6rem 0;

        &:last-child {
            @include wtfWtfPolygonBgLast;
        }

        &:not(:last-child) {
            @include wtfSkewY;
        }
    }
}


//@include wtfBgWtfLineBgTheme;
/*
@mixin wtfBgWtfLineBgTheme {
    &-theme {
        //padding: 3rem 0;
    }
}
*/


//@include wtfBgWtfLine;
@mixin wtfBgWtfLine {
    .bg {
        @include wtfBg;
        //@include wtfBgWtfLineBgTheme;
        //@include wtfBgWtfLinewtfTypeWhite;
    }
}

//@include wtfBgWtfPolygon;
@mixin wtfBgWtfPolygon {
    .bg {
        @include wtfBg;
        @include wtfBgWtfPolygonBgTheme;
    }
}

//@include wtfBgWtfDot;
@mixin wtfBgWtfDot {
    .bg {
        @include wtfBg;
       // @include wtfBgWtfLineBgTheme;
    }
}

// @include wtfBgWtfMM;
@mixin wtfBgWtfMM {}

// @include wtfBgWtfWtf;
@mixin wtfBgWtfWtf {}