// @include wtfNavItem;
@mixin wtfNavItem {
    font-size: var(--wtf-body-font-size);

    @include svgFontSize;
}

// @include wtfNavLink;
@mixin wtfNavLink {
    font-size: var(--wtf-body-font-size);

    @include svgFontSize;

    span.screen-reader-text {
        display: none;
    }

}

//@include wtfNavSocial;
@mixin wtfNavSocial {
  &-social {
    //--wtf-nav-link-padding-x: 0.5rem;
    --wtf-nav-link-padding-x: 0;
    --wtf-nav-link-padding-y: 0;
    //--wtf-nav-link-font-weight: ;
    //--wtf-nav-link-color: rgba(var(--wtf-emphasis-color-rgb), 0.65);
    //--wtf-nav-link-hover-color: rgba(var(--wtf-emphasis-color-rgb), 1);
    //--wtf-nav-link-disabled-color: rgba(var(--wtf-emphasis-color-rgb), 0.3);
    //display: flex;
    //flex-wrap: wrap;
    display: flex;
    flex-wrap: nowrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

// @include wtfNavWtfTheme;
@mixin wtfNavWtfTheme {

    .nav {
        @include wtfNavSocial;

        &-item {
            @include wtfNavItem;
        }

        &-link {
            @include wtfNavLink;
        }
    }
}

// @include wtfNavWtfLine;
@mixin wtfNavWtfLine {}

// @include wtfNavWtfPolygon;
@mixin wtfNavWtfPolygon {}

// @include wtfNavWtfDot;
@mixin wtfNavWtfDot {}

// @include wtfNavWtfMM;
@mixin wtfNavWtfMM {}

// @include wtfNavWtfWtf;
@mixin wtfNavWtfWtf {}