// @include wtfSectionWtfTheme;
@mixin wtfSectionWtfTheme {
    section {
        position: relative;

        &:not(:first-child) {
            padding: var(--wtf-theme-section-padding) 0;
        }
    }

    #about,
    #serviceAreas,
    #quote,
    #portfolio,
    #benefits,
    #skills {
        overflow: hidden;
    }
}

// @include wtfSectionWtfLine;
@mixin wtfSectionWtfLine {}

// @include wtfSectionWtfPolygon;
@mixin wtfSectionWtfPolygon {}

// @include wtfSectionWtfDot;
@mixin wtfSectionWtfDot {}

// @include wtfSectionWtfMM;
@mixin wtfSectionWtfMM {}

// @include wtfSectionWtfWtf;
@mixin wtfSectionWtfWtf {}