// @include wtfTypeWtfLineWhite;
@mixin wtfTypeWtfLineWhite {
  color: var(--wtf-white);

  &.wtf {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      text-align: center;
      height: var(--wtf-theme-border-thickness);
      width: var(--wtf-theme-heading-width);
      border-radius: var(--wtf-theme-border-radius) !important;
      background-color: var(--wtf-white);
    }
  }

}

// @include wtfTypeWtfLineBodyBG;
@mixin wtfTypeWtfLineBodyBG {
  color: var(--wtf-body-bg);

  &.wtf {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      text-align: center;
      height: var(--wtf-theme-border-thickness);
      width: var(--wtf-theme-heading-width);
      border-radius: var(--wtf-theme-border-radius) !important;
      background-color: var(--wtf-body-bg);
    }
  }
}

// @include wtfTypeWtfLinePrimary;
@mixin wtfTypeWtfLinePrimary {
  &.wtf {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    text-align: center;

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      text-align: center;
      height: var(--wtf-theme-border-thickness);
      width: var(--wtf-theme-heading-width);
      border-radius: var(--wtf-theme-border-radius) !important;
      background-color: var(--wtf-primary);
    }
  }
}


// @include wtfTypeWtfPolygonWhite;
@mixin wtfTypeWtfPolygonWhite {}

// @include wtfTypeWtfPolygonPrimary;
@mixin wtfTypeWtfPolygonPrimary {
  &.wtf {
    text-transform: uppercase;
    font-weight: 900;
    display: inline-block;
    background-image: var(--wtf-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    text-align: center;

    &-wtf {
      text-transform: lowercase;
    }
  }
}

// @include wtfTypeWtfDotBodyBg;
@mixin wtfTypeWtfDotBodyBg {
  &.wtf {
    text-transform: uppercase;
    position: relative;
    padding-bottom: calc(var(--wtf-theme-heading-size) * 0.3);
    text-align: center;

    &::after {
      margin-left: calc(var(--wtf-theme-heading-size) * 0.3);
      @include wtfDotSupportsBodyBg;
    }

    &::before {
      margin-right: calc(var(--wtf-theme-heading-size) * 0.3);
      @include wtfDotSupportsBodyBg;
    }

    &-wtf {
      text-transform: lowercase;
    }
  }
}

// @include wtfTypeWtfDotWhite;
@mixin wtfTypeWtfDotWhite {
  color: var(--wtf-white);

  &.wtf {
    text-transform: uppercase;
    position: relative;
    padding-bottom: calc(var(--wtf-theme-heading-size) * 0.3);
    text-align: center;

    &::after {
      margin-left: calc(var(--wtf-theme-heading-size) * 0.3);
      @include wtfDotSupportsWhite;
    }

    &::before {
      margin-right: calc(var(--wtf-theme-heading-size) * 0.3);
      @include wtfDotSupportsWhite;
    }

    &-wtf {
      text-transform: lowercase;
    }
  }

}

// @include wtfTypeWtfDotPrimary;
@mixin wtfTypeWtfDotPrimary {
  &.wtf {
    text-transform: uppercase;
    position: relative;
    padding-bottom: calc(var(--wtf-theme-heading-size) * 0.3);
    text-align: center;

    &::after {
      margin-left: calc(var(--wtf-theme-heading-size) * 0.3);
      @include wtfDotSupportsPrimary;
    }

    &::before {
      margin-right: calc(var(--wtf-theme-heading-size) * 0.3);
      @include wtfDotSupportsPrimary;
    }

    &-wtf {
      text-transform: lowercase;
    }
  }
}

/*
// @include wtfH;
@mixin wtfH {
  color: var(--wtf-theme-heading-color);
  font-family: var(--wtf-theme-heading-font);
  font-size: var(--wtf-theme-heading-size);
  line-height: var(--wtf-theme-heading-size);
}*/


// @include wtfP;
@mixin wtfP {
  //--wtf-theme-icon-size: var(--wtf-body-font-size);
  font-size: var(--wtf-body-font-size);
  line-height: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xs));
  font-family: var(--wtf-body-font-family);
  color: var(--wtf-body-color);
}

// @include wtfPWhite;
@mixin wtfPWhite {
  //--wtf-theme-icon-size: var(--wtf-body-font-size);
  font-size: var(--wtf-body-font-size);
  line-height: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xs));
  font-family: var(--wtf-body-font-family);
  color: var(--wtf-white);
}

// @include wtfH1;
@mixin wtfH1 {
  --wtf-theme-heading-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xxl));
  //--wtf-theme-icon-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xxl));
  //font-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xxl));
  //color: var(--wtf-theme-heading-color);

  //@include wtfH;
  color: var(--wtf-theme-heading-color);
  font-family: var(--wtf-theme-heading-font);
  font-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xxl));
  line-height: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xxl));
}

// @include wtfH2;
@mixin wtfH2 {
  --wtf-theme-heading-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xl));
  //--wtf-theme-icon-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xl));
  //font-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xl));
  //color: var(--wtf-theme-heading-color);
  //@include wtfH;
  color: var(--wtf-theme-heading-color);
  font-family: var(--wtf-theme-heading-font);
  font-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xl));
  line-height: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xl));
}

// @include wtfH3;
@mixin wtfH3 {
  --wtf-theme-heading-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-lg));
  //--wtf-theme-icon-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-lg));
  //font-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-lg));
  //color: var(--wtf-theme-heading-color);
  //@include wtfH;
  color: var(--wtf-theme-heading-color);
  font-family: var(--wtf-theme-heading-font);
  font-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-lg));
  line-height: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-lg));
}

// @include wtfH4;
@mixin wtfH4 {
  --wtf-theme-heading-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-md));
  //--wtf-theme-icon-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-md));
  //font-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-md));
  //color: var(--wtf-theme-heading-color);
  // @include wtfH;
  color: var(--wtf-theme-heading-color);
  font-family: var(--wtf-theme-heading-font);
  font-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-md));
  line-height: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-md));
}

// @include wtfH5;
@mixin wtfH5 {
  --wtf-theme-heading-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-sm));
  //--wtf-theme-icon-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-sm));
  //font-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-sm));
  //color: var(--wtf-theme-heading-color);
  //@include wtfH;
  color: var(--wtf-theme-heading-color);
  font-family: var(--wtf-theme-heading-font);
  font-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-sm));
  line-height: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-sm));

}

// @include wtfH6;
@mixin wtfH6 {
  --wtf-theme-heading-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xs));
  //--wtf-theme-icon-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xs));
  //font-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xs));
  //color: var(--wtf-theme-heading-color);
  //@include wtfH;
  color: var(--wtf-theme-heading-color);
  font-family: var(--wtf-theme-heading-font);
  font-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xs));
  line-height: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-xs));
}

// @include wtfHError;
@mixin wtfHError {
  .error {
    position: relative;
    text-align: center;

    p {
      font-size: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-error-font));
      line-height: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-error-font));
      color: var(--wtf-primary);
      font-weight: bold;
      margin-bottom: 0;
      text-align: center;

      svg {
        fill: currentColor;
        width: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-error-font));
        height: calc(var(--wtf-body-font-size) + var(--wtf-body-font-size) * var(--wtf-fraction-error-font));
        text-align: center;
        -webkit-transform: translateY(-10%);
        -ms-transform: translateY(-10%);
        transform: translateY(-10%);
      }
    }
  }
}

// @include wtfPRaleway;
@mixin wtfPRaleway {

  .p,
  p {
    @include wtfP;

    strong {
      font-weight: bold;
    }

    .p-i {
      color: rgba(var(--wtf-primary-rgb), .8);
      font-weight: bold;
    }
  }
}

// @include wtfPGidolinya;
@mixin wtfPGidolinya {

  .p,
  p {
    @include wtfP;

    strong {
      font-weight: bold;
    }

    &-i {
      color: rgba(var(--wtf-primary-rgb), .8);
      font-weight: bold;
    }
  }
}

// @include wtfTypeWtfPolygon;
@mixin wtfTypeWtfPolygon {

  .h1,
  h1 {
    @include wtfH1;
    @include wtfTypeWtfPolygonPrimary;
  }

  .h2,
  h2 {
    @include wtfH2;
    @include wtfTypeWtfPolygonPrimary;
  }

  .h3,
  h3 {
    @include wtfH3;
    @include wtfTypeWtfPolygonPrimary;
  }

  .h4,
  h4 {
    @include wtfH4;
    @include wtfTypeWtfPolygonPrimary;
  }

  .h5,
  h5 {
    @include wtfH5;
    @include wtfTypeWtfPolygonPrimary;
  }

  .h6,
  h6 {
    @include wtfH6;
    @include wtfTypeWtfPolygonPrimary;
  }

  @include wtfHError;

  .p,
  p {
    @include wtfP;
  }

  .bg-primary,
  .bg-primary-emphasis,
  .bg-black, .bg-dark {
    --wtf-theme-heading-color: var(--wtf-white);
    --wtf-gradient-text: linear-gradient(180deg, rgba(var(--wtf-light-rgb), 1), rgba(var(--wtf-light-rgb), .6));

    .p,
    p {
      @include wtfPWhite;
    }

  }
}

// @include wtfTypeWtfLine;
@mixin wtfTypeWtfLine {

  .h1,
  h1 {
    @include wtfH1;
    @include wtfTypeWtfLinePrimary;
  }

  .h2,
  h2 {
    @include wtfH2;
    @include wtfTypeWtfLinePrimary;
  }

  .h3,
  h3 {
    @include wtfH3;
    @include wtfTypeWtfLinePrimary;
  }

  .h4,
  h4 {
    @include wtfH4;
    @include wtfTypeWtfLinePrimary;
  }

  .h5,
  h5 {
    @include wtfH5;
    @include wtfTypeWtfLinePrimary;
  }

  .h6,
  h6 {
    @include wtfH6;
    @include wtfTypeWtfLinePrimary;
  }

  @include wtfHError;

  .p,
  p {
    @include wtfP;
  }

  .bg-primary,
  .bg-primary-emphasis,
  .bg-black, .bg-dark {

    .h1,
    h1 {
      @include wtfH1;
      @include wtfTypeWtfLineWhite;
    }

    .h2,
    h2 {
      @include wtfH2;
      @include wtfTypeWtfLineWhite;
    }

    .h3,
    h3 {
      @include wtfH3;
      @include wtfTypeWtfLineWhite;
    }

    .h4,
    h4 {
      @include wtfH4;
      @include wtfTypeWtfLineWhite;
    }

    .h5,
    h5 {
      @include wtfH5;
      @include wtfTypeWtfLineWhite;
    }

    .h6,
    h6 {
      @include wtfH6;
      @include wtfTypeWtfLineWhite;
    }

    .p,
    p {
      @include wtfPWhite;
    }

  }



}

// @include wtfTypeWtfDot;
@mixin wtfTypeWtfDot {

  .h1,
  h1 {
    @include wtfH1;
    @include wtfTypeWtfDotPrimary;
  }

  .h2,
  h2 {
    @include wtfH2;
    @include wtfTypeWtfDotPrimary;
  }

  .h3,
  h3 {
    @include wtfH3;
    @include wtfTypeWtfDotPrimary;
  }

  .h4,
  h4 {
    @include wtfH4;
    @include wtfTypeWtfDotPrimary;
  }

  .h5,
  h5 {
    @include wtfH5;
    @include wtfTypeWtfDotPrimary;
  }

  .h6,
  h6 {
    @include wtfH6;
    @include wtfTypeWtfDotPrimary;
  }

  @include wtfHError;

  .p,
  p {
    @include wtfP;
  }

  .bg-primary,
  .bg-primary-emphasis,
  .bg-black, .bg-dark {

    .h1,
  h1 {
    @include wtfH1;
    @include wtfTypeWtfDotWhite;
  }

  .h2,
  h2 {
    @include wtfH2;
    @include wtfTypeWtfDotWhite;
  }

  .h3,
  h3 {
    @include wtfH3;
    @include wtfTypeWtfDotWhite;
  }

  .h4,
  h4 {
    @include wtfH4;
    @include wtfTypeWtfDotWhite;
  }

  .h5,
  h5 {
    @include wtfH5;
    @include wtfTypeWtfDotWhite;
  }

  .h6,
  h6 {
    @include wtfH6;
    @include wtfTypeWtfDotWhite;
  }

    .p,
    p {
      @include wtfPWhite;
    }
  }

}


/*

.bg {

  &-primary,
  &-primary-emphasis,
  &-black {

    h1,
    .h1,
    h2,
    .h2,
    h3,
    .h3,
    h4,
    .h4,
    h5,
    .h5,
    h6,
    .h6 {
      color: var(--wtf-white);
    }

    p {
      color: var(--wtf-white);
    }
  }
}*/


/*
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  &.wtf {

    text-transform: uppercase;
    font-weight: 700;
    display: inline-block;
    background-image: var(--wtf-gradient-text);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;

    &.brand {
      text-transform: lowercase;
    }
  }
}*/

/*
// @include wtfTypeWtfPolygon;
@mixin wtfTypeWtfPolygon {

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    &-wtf {
      text-transform: capitalize;
      font-weight: 700;
      @include wtfHWtfPolygon;

      &-wtf {
        text-transform: lowercase;
      }
    }
  }
}*/

/*
// @include wtfTypeWtfWtf;
@mixin wtfTypeWtfTheme {
  text-transform: uppercase;
  font-weight: 700;

  &-wtf {
    text-transform: lowercase;
  }
}

// @include wtfTypeWtfTheme;
@mixin wtfTypeWtfTheme {
  &-wtf {
    font-weight: 700;

    &:first-child {
      text-transform: lowercase;
    }

    &:not(:first-child) {
      text-transform: uppercase;
    }
  }
}*/


/*

.bg-black,
.bg-primary,
.bg-primary-emphasis {
  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    &-wtf {
    text-transform: uppercase;
    position: relative;
    padding-bottom: 0.5rem;
    text-align: center;

    &::after {
      margin-left: var(--wtf-body-font-size);
      @include wtfDotSupportsBodyBg;
    }

    &::before {
      margin-right: var(--wtf-body-font-size);
      @include wtfDotSupportsBodyBg;
    }
  }
}
}

  h1,
  .h1,
  h2,
  .h2,
  h3,
  .h3,
  h4,
  .h4,
  h5,
  .h5,
  h6,
  .h6 {
    &-wtf {
    text-transform: uppercase;
    position: relative;
    //padding-bottom: 0.5rem;
    text-align: center;

    &::after {
      margin-left: var(--wtf-body-font-size);
      @include wtfDotSupports;
    }

    &::before {
      margin-right: var(--wtf-body-font-size);
      @include wtfDotSupports;
    }

    &.brand {
      text-transform: lowercase;
    }
  }
}

*/
/*
// @include wtfNavbarWtfLine;
@mixin wtfNavbarWtfLine {}

// @include wtfNavbarWtfPolygon;
@mixin wtfNavbarWtfPolygon {}

// @include wtfNavbarWtfDot;
@mixin wtfNavbarWtfDot {}

// @include wtfNavbarWtfMM;
@mixin wtfNavbarWtfMM {}

// @include wtfNavbarWtfWtf;
@mixin wtfNavbarWtfWtf {}
*/