//@include wtfBtnBodyBg;
@mixin wtfBtnBodyBg {
    --wtf-heading-color: var(--wtf-body-bg);
    --wtf-brand-color: var(--wtf-body-bg);
    --wtf-btn-color: var(--wtf-body-bg);
    --wtf-btn-hover-color: var(--wtf-body-bg);
    --wtf-btn-active-color: var(--wtf-body-bg);
    --wtf-btn-disabled-color: var(--wtf-body-bg);
}

//@include wtfBtnBodyColor;
@mixin wtfBtnBodyColor {
    --wtf-heading-color: var(--wtf-body-color);
    --wtf-brand-color: var(--wtf-body-color);
    --wtf-btn-color: var(--wtf-body-color);
    --wtf-btn-hover-color: var(--wtf-body-color);
    --wtf-btn-active-color: var(--wtf-body-color);
    --wtf-btn-disabled-color: var(--wtf-body-color);
}

//@include wtfBtnBodyColor;
@mixin wtfBtnOutlineBodyBg {
    /*
  --wtf-heading-color: var(--wtf-body-bg);
  --wtf-btn-color: var(--wtf-body-bg);
  */
    --wtf-btn-hover-color: var(--wtf-body-bg);
    --wtf-btn-active-color: var(--wtf-body-bg);
    --wtf-btn-disabled-color: var(--wtf-body-bg);
}

//@include wtfBtnBodyColor;
@mixin wtfBtnOutlineBodyColor {
    /*
--wtf-heading-color: var(--wtf-body-color);
  --wtf-btn-color: var(--wtf-body-color);
  */
    --wtf-btn-hover-color: var(--wtf-body-color);
    --wtf-btn-active-color: var(--wtf-body-color);
    --wtf-btn-disabled-color: var(--wtf-body-color);
}

//@include wtfBtnIcon;
@mixin wtfBtnIcon {
    --wtf-btn-border-radius: var(--wtf-theme-btn-border-radius);
    --wtf-btn-border-width: var(--wtf-theme-btn-border-width);
    --wtf-btn-padding-x: 0rem;
    --wtf-btn-padding-y: 0rem;

}

//@include wtfBtn;
@mixin wtfBtn {
    --wtf-btn-padding-x: var(--wtf-theme-btn-padding-x);
    --wtf-btn-padding-y: var(--wtf-theme-btn-padding-y);
    --wtf-btn-border-radius: var(--wtf-theme-btn-border-radius);
    --wtf-btn-border-width: var(--wtf-theme-btn-border-width);

}

//@include wtfBtnHover;
@mixin wtfBtnHover {
    &:hover {
        transform: translateY(-3px);
    }
}

//@include wtfBtnIconLink;
@mixin wtfBtnIconLink {
    .icon-link {
        @include svgFontSize;
    }
}


//@include wtfBtnLightColour;
@mixin wtfBtnLightColour {
    
}

//@include wtfBtnDarkColour;
@mixin wtfBtnDarkColour {
    
}



//@include wtfBtnWtfTheme;
@mixin wtfBtnWtfTheme {
    &-success {
        @include wtfBtn;
        //@include wtfBtnBodyColor;
        @include wtfBtnBodyBg;
        @include svgFontSize;
        --wtf-btn-bg: var(--wtf-success);
        --wtf-btn-border-color: var(--wtf-success);
        --wtf-btn-hover-bg: var(--wtf-success);
        --wtf-btn-hover-border-color: var(--wtf-success);
        --wtf-btn-active-bg: var(--wtf-success);
        --wtf-btn-active-border-color: var(--wtf-success);
        --wtf-btn-disabled-bg: var(--wtf-success);
        --wtf-btn-disabled-border-color: var(--wtf-success);
        
    }

    &-danger {
        @include wtfBtn;
        //@include wtfBtnBodyColor;
        @include wtfBtnBodyBg;
        @include svgFontSize;
        --wtf-btn-bg: var(--wtf-danger);
        --wtf-btn-border-color: var(--wtf-danger);
        --wtf-btn-hover-bg: var(--wtf-danger);
        --wtf-btn-hover-border-color: var(--wtf-danger);
        --wtf-btn-active-bg: var(--wtf-danger);
        --wtf-btn-active-border-color: var(--wtf-danger);
        --wtf-btn-disabled-bg: var(--wtf-danger);
        --wtf-btn-disabled-border-color: var(--wtf-danger);
    }

    &-warning {
        @include wtfBtn;
        //@include wtfBtnBodyColor;
        @include wtfBtnBodyBg;
        @include svgFontSize;
        --wtf-btn-bg: var(--wtf-warning);
        --wtf-btn-border-color: var(--wtf-warning);
        --wtf-btn-hover-bg: var(--wtf-warning);
        --wtf-btn-hover-border-color: var(--wtf-warning);
        --wtf-btn-active-bg: var(--wtf-warning);
        --wtf-btn-active-border-color: var(--wtf-warning);
        --wtf-btn-disabled-bg: var(--wtf-warning);
        --wtf-btn-disabled-border-color: var(--wtf-warning);
    }

    &-dark {
        @include wtfBtn;
        //@include wtfBtnBodyColor;
        @include wtfBtnBodyBg;
        @include svgFontSize;
        --wtf-btn-bg: var(--wtf-dark);
        --wtf-btn-border-color: var(--wtf-dark);
        --wtf-btn-hover-bg: var(--wtf-dark);
        --wtf-btn-hover-border-color: var(--wtf-dark);
        --wtf-btn-active-bg: var(--wtf-dark);
        --wtf-btn-active-border-color: var(--wtf-dark);
        --wtf-btn-disabled-bg: var(--wtf-dark);
        --wtf-btn-disabled-border-color: var(--wtf-dark);
    }

    &-light {
        @include wtfBtn;
        @include wtfBtnBodyColor;
        //@include wtfBtnBodyBg;
        @include svgFontSize;
        --wtf-btn-bg: var(--wtf-light);
        --wtf-btn-border-color: var(--wtf-light);
        --wtf-btn-hover-bg: var(--wtf-light);
        --wtf-btn-hover-border-color: var(--wtf-light);
        --wtf-btn-active-bg: var(--wtf-light);
        --wtf-btn-active-border-color: var(--wtf-light);
        --wtf-btn-disabled-bg: var(--wtf-light);
        --wtf-btn-disabled-border-color: var(--wtf-light);
    }

    &-info {
        @include wtfBtn;
        @include wtfBtnBodyColor;
        //@include wtfBtnBodyBg;
        @include svgFontSize;
        --wtf-btn-bg: var(--wtf-info);
        --wtf-btn-border-color: var(--wtf-info);
        --wtf-btn-hover-bg: var(--wtf-info);
        --wtf-btn-hover-border-color: var(--wtf-info);
        --wtf-btn-active-bg: var(--wtf-info);
        --wtf-btn-active-border-color: var(--wtf-info);
        --wtf-btn-disabled-bg: var(--wtf-info);
        --wtf-btn-disabled-border-color: var(--wtf-info);
    }

    &-outline-success {
        @include wtfBtn;
        //@include wtfBtnOutlineBodyColor;
        @include wtfBtnOutlineBodyBg;
        @include svgFontSize;
        --wtf-btn-color: var(--wtf-success);
        --wtf-btn-border-color: var(--wtf-success);
        --wtf-btn-hover-bg: var(--wtf-success);
        --wtf-btn-hover-border-color: var(--wtf-success);
        --wtf-btn-active-bg: var(--wtf-success);
        --wtf-btn-active-border-color: var(--wtf-success);
        --wtf-btn-disabled-bg: var(--wtf-success);
        --wtf-btn-disabled-border-color: var(--wtf-success);
    }

    &-outline-danger {
        @include wtfBtn;
        //@include wtfBtnOutlineBodyColor;
        @include wtfBtnOutlineBodyBg;
        @include svgFontSize;
        --wtf-btn-color: var(--wtf-danger);
        --wtf-btn-border-color: var(--wtf-danger);
        --wtf-btn-hover-bg: var(--wtf-danger);
        --wtf-btn-hover-border-color: var(--wtf-danger);
        --wtf-btn-active-bg: var(--wtf-danger);
        --wtf-btn-active-border-color: var(--wtf-danger);
        --wtf-btn-disabled-bg: var(--wtf-danger);
        --wtf-btn-disabled-border-color: var(--wtf-danger);
    }

    &-outline-warning {
        @include wtfBtn;
        //@include wtfBtnOutlineBodyColor;
        @include wtfBtnOutlineBodyBg;
        @include svgFontSize;
        --wtf-btn-color: var(--wtf-warning);
        --wtf-btn-border-color: var(--wtf-warning);
        --wtf-btn-hover-bg: var(--wtf-warning);
        --wtf-btn-hover-border-color: var(--wtf-warning);
        --wtf-btn-active-bg: var(--wtf-warning);
        --wtf-btn-active-border-color: var(--wtf-warning);
        --wtf-btn-disabled-bg: var(--wtf-warning);
        --wtf-btn-disabled-border-color: var(--wtf-warning);
    }

    &-outline-dark {
        @include wtfBtn;
        //@include wtfBtnOutlineBodyColor;
        @include wtfBtnOutlineBodyBg;
        @include svgFontSize;
        --wtf-btn-color: var(--wtf-dark);
        --wtf-btn-border-color: var(--wtf-dark);
        --wtf-btn-hover-bg: var(--wtf-dark);
        --wtf-btn-hover-border-color: var(--wtf-dark);
        --wtf-btn-active-bg: var(--wtf-dark);
        --wtf-btn-active-border-color: var(--wtf-dark);
        --wtf-btn-disabled-bg: var(--wtf-dark);
        --wtf-btn-disabled-border-color: var(--wtf-dark);
    }

    &-outline-light {
        @include wtfBtn;
        @include wtfBtnOutlineBodyColor;
        //@include wtfBtnOutlineBodyBg;
        @include svgFontSize;
        --wtf-btn-color: var(--wtf-light);
        --wtf-btn-border-color: var(--wtf-light);
        --wtf-btn-hover-bg: var(--wtf-light);
        --wtf-btn-hover-border-color: var(--wtf-light);
        --wtf-btn-active-bg: var(--wtf-light);
        --wtf-btn-active-border-color: var(--wtf-light);
        --wtf-btn-disabled-bg: var(--wtf-light);
        --wtf-btn-disabled-border-color: var(--wtf-light);
    }

    &-outline-info {
        @include wtfBtn;
        @include wtfBtnOutlineBodyColor;
        //@include wtfBtnOutlineBodyBg;
        @include svgFontSize;
        --wtf-btn-color: var(--wtf-info);
        --wtf-btn-border-color: var(--wtf-info);
        --wtf-btn-hover-bg: var(--wtf-info);
        --wtf-btn-hover-border-color: var(--wtf-info);
        --wtf-btn-active-bg: var(--wtf-info);
        --wtf-btn-active-border-color: var(--wtf-info);
        --wtf-btn-disabled-bg: var(--wtf-info);
        --wtf-btn-disabled-border-color: var(--wtf-info);
    }

}



//@include wtfBtnWtfThemeWtfTheme;
@mixin wtfBtnWtfThemeWtfTheme {
     &-primary {
            @include wtfBtn;
            //@include wtfBtnBodyColor;
            @include wtfBtnBodyBg;
            @include svgFontSize;
            --wtf-btn-bg: var(--wtf-primary);
            --wtf-btn-border-color: var(--wtf-primary);
            --wtf-btn-hover-bg: var(--wtf-primary);
            --wtf-btn-hover-border-color: var(--wtf-primary);
            --wtf-btn-active-bg: var(--wtf-primary);
            --wtf-btn-active-border-color: var(--wtf-primary);
            --wtf-btn-disabled-bg: var(--wtf-primary);
            --wtf-btn-disabled-border-color: var(--wtf-primary);
            
        }

        &-secondary {
            @include wtfBtn;
            //@include wtfBtnBodyColor;
            @include wtfBtnBodyBg;
            @include svgFontSize;

            --wtf-btn-bg: var(--wtf-secondary);
            --wtf-btn-border-color: var(--wtf-secondary);
            --wtf-btn-hover-bg: var(--wtf-secondary);
            --wtf-btn-hover-border-color: var(--wtf-secondary);
            --wtf-btn-active-bg: var(--wtf-secondary);
            --wtf-btn-active-border-color: var(--wtf-secondary);
            --wtf-btn-disabled-bg: var(--wtf-secondary);
            --wtf-btn-disabled-border-color: var(--wtf-secondary);
            
        }

        &-outline-primary{
        @include wtfBtn;
        //@include wtfBtnOutlineBodyColor;
        @include wtfBtnOutlineBodyBg;
        @include svgFontSize;
        --wtf-btn-color: var(--wtf-primary);
        --wtf-btn-border-color: var(--wtf-primary);
        --wtf-btn-hover-bg: var(--wtf-primary);
        --wtf-btn-hover-border-color: var(--wtf-primary);
        --wtf-btn-active-bg: var(--wtf-primary);
        --wtf-btn-active-border-color: var(--wtf-primary);
        --wtf-btn-disabled-bg: var(--wtf-primary);
        --wtf-btn-disabled-border-color: var(--wtf-primary);
    }


    &-outline-secondary{
        @include wtfBtn;
        //@include wtfBtnOutlineBodyColor;
        @include wtfBtnOutlineBodyBg;
        @include svgFontSize;
        --wtf-btn-color: var(--wtf-secondary);
        --wtf-btn-border-color: var(--wtf-secondary);
        --wtf-btn-hover-bg: var(--wtf-secondary);
        --wtf-btn-hover-border-color: var(--wtf-secondary);
        --wtf-btn-active-bg: var(--wtf-secondary);
        --wtf-btn-active-border-color: var(--wtf-secondary);
        --wtf-btn-disabled-bg: var(--wtf-secondary);
        --wtf-btn-disabled-border-color: var(--wtf-secondary);
    }


}
//@include wtfBtnWtfThemeWtfWtf;
@mixin wtfBtnWtfThemeWtfWtf {
     &-primary {
            @include wtfBtn;
            //@include wtfBtnBodyColor;
            @include wtfBtnBodyBg;
            @include svgFontSize;
            --wtf-btn-bg: var(--wtf-primary);
            --wtf-btn-border-color: var(--wtf-primary);
            --wtf-btn-hover-bg: var(--wtf-primary);
            --wtf-btn-hover-border-color: var(--wtf-primary);
            --wtf-btn-active-bg: var(--wtf-primary);
            --wtf-btn-active-border-color: var(--wtf-primary);
            --wtf-btn-disabled-bg: var(--wtf-primary);
            --wtf-btn-disabled-border-color: var(--wtf-primary);
            
        }

        &-secondary {
            @include wtfBtn;
            //@include wtfBtnBodyColor;
            @include wtfBtnBodyBg;
            @include svgFontSize;

            --wtf-btn-bg: var(--wtf-secondary);
            --wtf-btn-border-color: var(--wtf-secondary);
            --wtf-btn-hover-bg: var(--wtf-secondary);
            --wtf-btn-hover-border-color: var(--wtf-secondary);
            --wtf-btn-active-bg: var(--wtf-secondary);
            --wtf-btn-active-border-color: var(--wtf-secondary);
            --wtf-btn-disabled-bg: var(--wtf-secondary);
            --wtf-btn-disabled-border-color: var(--wtf-secondary);

            
        }

        &-outline-primary{
        @include wtfBtn;
        //@include wtfBtnOutlineBodyColor;
        @include wtfBtnOutlineBodyBg;
        @include svgFontSize;
        --wtf-btn-color: var(--wtf-primary);
        --wtf-btn-border-color: var(--wtf-primary);
        --wtf-btn-hover-bg: var(--wtf-primary);
        --wtf-btn-hover-border-color: var(--wtf-primary);
        --wtf-btn-active-bg: var(--wtf-primary);
        --wtf-btn-active-border-color: var(--wtf-primary);
        --wtf-btn-disabled-bg: var(--wtf-primary);
        --wtf-btn-disabled-border-color: var(--wtf-primary);
    }

    &-outline-secondary {
        @include wtfBtn;
        @include wtfBtnOutlineBodyColor;
        //@include wtfBtnOutlineBodyBg;
        @include svgFontSize;
        --wtf-btn-color: var(--wtf-secondary);
        --wtf-btn-border-color: var(--wtf-secondary);
        --wtf-btn-hover-bg: var(--wtf-secondary);
        --wtf-btn-hover-border-color: var(--wtf-secondary);
        --wtf-btn-active-bg: var(--wtf-secondary);
        --wtf-btn-active-border-color: var(--wtf-secondary);
        --wtf-btn-disabled-bg: var(--wtf-secondary);
        --wtf-btn-disabled-border-color: var(--wtf-secondary);
    }
}

// @include wtfBtnWtfLine;
@mixin wtfBtnWtfLine {
    @include wtfBtnIconLink;

    .btn {
        @include wtfBtnWtfTheme;
        @include wtfBtnWtfThemeWtfTheme;

        
    }
}

// @include wtfBtnWtfPolygon;
@mixin wtfBtnWtfPolygon {
    @include wtfBtnIconLink;

    .btn {
        @include wtfBtnWtfTheme;
        @include wtfBtnWtfThemeWtfTheme;

    }
}

// @include wtfBtnWtfDot;
@mixin wtfBtnWtfDot {
    @include wtfBtnIconLink;

    .btn {
        @include wtfBtnWtfTheme;
        @include wtfBtnWtfThemeWtfTheme;
    }
}

// @include wtfBtnWtfMM;
@mixin wtfBtnWtfMM {
    @include wtfBtnIconLink;

    .btn {
        @include wtfBtnWtfTheme;
        @include wtfBtnWtfThemeWtfWtf;

    }
}

// @include wtfBtnWtfWtf;
@mixin wtfBtnWtfWtf {
    @include wtfBtnIconLink;

    .btn {
        @include wtfBtnWtfTheme;
        @include wtfBtnWtfThemeWtfWtf;

       
    }
}