//@include wtfFooterWtfTheme;
@mixin wtfFooterWtfTheme {
    .footer {
        &-wtf {
            z-index: 1044;
            position: fixed;
            bottom: 0;
            left: 0;
            right: 0;
            
            .footer-nav {
                height: var(--wtf-theme-navbar-height);
            }
            
        }

        &-bg {
            &.footer-wtf {
                .footer-nav {
                    --wtf-emphasis-color: var(--wtf-white);
                    --wtf-emphasis-color-rgb: var(--wtf-white-rgb);
                    --wtf-link-color: var(--wtf-white);
                    --wtf-link-color-rgb: var(--wtf-white-rgb);
                    background-color: var(--wtf-primary);
                    
                    //color: var(--wtf-white);
                }
            }
        }
    }

}

// @include wtfFooterWtfLine;
@mixin wtfFooterWtfLine {@include wtfFooterWtfTheme;}

// @include wtfFooterWtfPolygon;
@mixin wtfFooterWtfPolygon {@include wtfFooterWtfTheme;}

// @include wtfFooterWtfDot;
@mixin wtfFooterWtfDot {@include wtfFooterWtfTheme;}

// @include wtfFooterWtfMM;
@mixin wtfFooterWtfMM {@include wtfFooterWtfTheme;}

// @include wtfFooterWtfWtf;
@mixin wtfFooterWtfWtf {@include wtfFooterWtfTheme;}