html {
    font-size: 50%; //1 rem = 8px, 8/16 = 50%

    @include media-breakpoint-up(sm) {
        font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
    }

    @include media-breakpoint-up(md) {
        // This defines what 1rem is
        font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    }

    @include media-breakpoint-up(lg) {
        font-size: 75%; //1rem = 12, 12/16
    }

    @include media-breakpoint-up(xl) {
        font-size: 100%;
    }
}