.bd-mode-toggle {
    z-index: 3000;

    .btn {
        
        &.underline{
             //--wtf-btn-color: var(--wtf-white);
            //--wtf-btn-bg: var(--wtf-primary);
            //--wtf-btn-border-radius:50%;
            fill: var(--wtf-primary);
            color: var(--wtf-primary);

            --wtf-btn-padding-x: 0.5rem;
            --wtf-btn-padding-y: 0.5rem;
            --wtf-btn-border-radius: 0.5rem;
            position: fixed;
            margin-left: 0;
            
            right: var(--wtf-btn-padding-x);
            bottom: var(--wtf-btn-padding-y);

            @include media-breakpoint-up(md) {
                --wtf-btn-padding-x: 0.5rem;
                --wtf-btn-padding-y: 0.5rem;
                --wtf-btn-border-radius: 0.5rem;
            }

            svg {
                color: var(--wtf-primary);
                fill: var(--wtf-primary);
                width: var(--wtf-btn-font-size);
                height: var(--wtf-btn-font-size);
                width: 1.5rem;
                height: 1.5rem;
            }

            &.btn-bd {
                background-color: var(--wtf-body-bg);
                box-shadow: $base-box-shadow;
            }

            &.show,
            &:active,
            &.active {
                background-color: var(--wtf-body-bg);
            }
        }
/*
        .dropdown-menu {
            --wtf-dropdown-min-width: 5rem;
            --wtf-dropdown-color: var(--wtf-primary);
            --wtf-dropdown-bg: var(--wtf-body-bg);
            --wtf-dropdown-link-active-bg: var(--wtf-primary);
            --wtf-dropdown-link-active-color: var(--wtf-white);
            --wtf-dropdown-link-color: var(--wtf-primary);

            .dropdown-item.active,
            .dropdown-item:active {
                svg {
                    fill: var(--wtf-dropdown-link-active-color);
                    color: var(--wtf-dropdown-link-active-color);
                }
            }

            .color {
                border: 1px solid var(--wtf-dropdown-link-color);
                color: var(--wtf-primary);
                fill: var(--wtf-primary);
                background-color: var(--wtf-primary);
                border-radius: 50%;
            }

            svg {
                color: var(--wtf-primary);
                fill: var(--wtf-primary);
                width: 1.5rem;
                height: 1.5rem;
            }

        
        }*/

        &.iconic {
            --wtf-btn-color: var(--wtf-white);
            --wtf-btn-bg: var(--wtf-primary);
            --wtf-btn-border-radius: 50%;
            --wtf-btn-border-width: 0;
            --wtf-btn-padding-x: 0;
            --wtf-btn-padding-y: 0;
            --wtf-btn-border-color: transparent;
            fill: var(--wtf-body-bg);
            color: var(--wtf-body-bg);
            box-shadow: $base-box-shadow;
            width: calc($iconic-nav-logo-size * $fraction-lg);
            height: calc($iconic-nav-logo-size * $fraction-lg);
            bottom: calc($iconic-nav-icon-padding * $fraction-lg);
            right: calc($iconic-nav-icon-padding * $fraction-lg);
            position: fixed;
            margin-left: 0;

            //@include wtfTheLineMenuIcon;

            @include media-breakpoint-up(sm) {
                bottom: $iconic-nav-icon-padding;
                right: $iconic-nav-icon-padding;
                height: $iconic-nav-logo-size;
                width: $iconic-nav-logo-size;
            }

            svg {
                fill: var(--wtf-body-bg);
                color: var(--wtf-body-bg);
                //width: var(--wtf-btn-font-size);
                //height: var(--wtf-btn-font-size);
                width: calc(2.5rem * $fraction-lg);
                height: calc(2.5rem * $fraction-lg);
                display: inline-block;

                @include media-breakpoint-up(sm) {
                    width: 2.5rem;
                    height: 2.5rem;
                }
            }

            &.show,
            &:hover,
            &:active,
            &.active {
                background-color: var(--wtf-primary-text-emphasis);
            }

            &::after {
                display: none;
                margin-left: 0;
                vertical-align: 0;
                content: "";
                border-top: 0 solid;
                border-right: 0 solid transparent;
                border-bottom: 0;
                border-left: 0 solid transparent;
            }
        }

        //std btn
        fill: var(--wtf-primary);
        color: var(--wtf-primary);

        --wtf-btn-padding-x: 0.5rem;
        --wtf-btn-padding-y: 0.5rem;
        --wtf-btn-border-radius: 0.5rem;
        position: fixed;
        margin-left: 0;
        right: var(--wtf-btn-padding-x);
        bottom: var(--wtf-btn-padding-y);

        @include media-breakpoint-up(md) {
            --wtf-btn-padding-x: 0.5rem;
            --wtf-btn-padding-y: 0.5rem;
            --wtf-btn-border-radius: 0.5rem;
        }

        svg {
            color: var(--wtf-primary);
            fill: var(--wtf-primary);
            width: var(--wtf-btn-font-size);
            height: var(--wtf-btn-font-size);
            width: 1.5rem;
            height: 1.5rem;
        }

        &.btn-bd {
            background-color: var(--wtf-body-bg);
            box-shadow: $base-box-shadow;
        }

        &.show,
        &:active,
        &.active {
            background-color: var(--wtf-body-bg);
        }
    }
/*
    .dropdown-menu {
        --wtf-dropdown-min-width: 5rem;
        --wtf-dropdown-color: var(--wtf-primary);
        --wtf-dropdown-bg: var(--wtf-body-bg);
        --wtf-dropdown-link-active-bg: var(--wtf-primary);
        --wtf-dropdown-link-active-color: var(--wtf-white);
        --wtf-dropdown-link-color: var(--wtf-primary);

        .dropdown-item.active,
        .dropdown-item:active {
            svg {
                fill: var(--wtf-dropdown-link-active-color);
                color: var(--wtf-dropdown-link-active-color);
            }
        }

        .color {
            border: 1px solid var(--wtf-dropdown-link-color);
            color: var(--wtf-primary);
            fill: var(--wtf-primary);
            background-color: var(--wtf-primary);
            border-radius: 50%;
        }

        svg {
            color: var(--wtf-primary);
            fill: var(--wtf-primary);
            width: 1.5rem;
            height: 1.5rem;
        }

    }*/

}

.show {
    display: block !important;
}