.badge {
  &.text-bg-primary {
    color: var(--wtf-white);
    //background-color: RGBA(var(--wtf-primary-rgb), var(--wtf-bg-opacity)) !important;
    background-image: var(--wtf-primary-rgb);

    svg {
      fill: var(--wtf-white);
      width: calc(var(--wtf-badge-font-size) * 1.5);
      height: calc(var(--wtf-badge-font-size) * 1.5);
    }
  }

  svg {
    fill: var(--wtf-body-color);
    width: calc(var(--wtf-badge-font-size) * 1.5);
      height: calc(var(--wtf-badge-font-size) * 1.5);
  }
}