//variables

.card {
    &.polygon {

        img {
            background-size: cover;
            background-blend-mode: screen;
            @include wtfPolygon;
        }

        &:hover {
            img {
                //transform: scale(1.2);
                opacity: 0.5;
                transition-duration: .3s;
                //filter: grayscale(50%);
                //opacity: .7;
                overflow: hidden;
            }

        }
    }
}

