.navbar{
    &.iconic {
        --wtf-navbar-padding-y: 0;
        position: fixed;
        z-index: 3000;
        width: calc($iconic-nav-logo-size * $fraction-lg);
        height: calc($iconic-nav-logo-size * $fraction-lg);
        top: calc($iconic-nav-icon-padding * $fraction-lg);
        right: calc($iconic-nav-icon-padding * $fraction-lg);


        @include media-breakpoint-up(sm) {
            top: $iconic-nav-icon-padding;
            right: $iconic-nav-icon-padding;
            height: $iconic-nav-logo-size;
            width: $iconic-nav-logo-size;
        }

        &.fixed {
            position: fixed;
        }
        
        .navbar-toggler {
            border: 0;
            background-image: var(--wtf-primary);
            background-color: var(--wtf-primary);
            padding: 0;
            width: calc($iconic-nav-logo-size * $fraction-lg);
            height: calc($iconic-nav-logo-size * $fraction-lg);
            font-size: 0;
            line-height: 0;
            border-radius: 50%;
            box-shadow: $base-box-shadow;

            @include media-breakpoint-up(sm) {
                padding: 0;
                width: $iconic-nav-logo-size;
                height: $iconic-nav-logo-size;
            }



            &--icon {
                //width: $iconic-nav-icon-size;
                //height: $iconic-nav-icon-size;
                color: var(--wtf-body-bg);
                position: relative;

                &,
                &::before,
                &::after {
                    width: calc(2.5rem * $fraction-lg);
                    height: 2px;
                    border-radius: 2px;
                    background-color: var(--wtf-body-bg);
                    display: inline-block;

                    @include media-breakpoint-up(sm) {
                        width: 2.5rem;
                    }
                }

                &::before,
                &::after {
                    content: "";
                    position: absolute;
                    left: 0;
                    transition: all .2s;
                }

                &::before {
                    top: calc(-.8rem * $fraction-lg);

                    @include media-breakpoint-up(sm) {
                        top: -.8rem;
                    }
                }

                &::after {
                    top: calc(.8rem * $fraction-lg);

                    @include media-breakpoint-up(sm) {
                        top: .8rem;
                    }
                }
            }

            &:hover {
                background-color: var(--wtf-primary-text-emphasis);

                .navbar-toggler--icon {
                    &::before {
                        top: -1rem;
                    }

                    &::after {
                        top: 1rem;
                    }
                }
            }
        }

        .offcanvas {
            background-color: var(--wtf-black);

            &-body {
                .nav-link {
                    color: var(--wtf-white);

                    &:hover {

                        &::before {
                            margin-right: $iconic-nav-icon-padding;
                            content: "";
                            display: inline-block;
                            height: $iconic-nav-icon-padding;
                            width: $iconic-nav-icon-padding;

                            // Older browsers
                            background-image: $custom-title-icon-before;
                            background-size: cover;

                            //Newer browsers - masks
                            @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                                background-color: var(--wtf-primary);
                                -webkit-mask-image: $custom-title-icon-before;
                                -webkit-mask-size: cover;
                                mask-image: $custom-title-icon-before;
                                mask-size: cover;
                                background-image: none;
                            }
                        }

                        &::after {
                            margin-left: $iconic-nav-icon-padding;
                            content: "";
                            display: inline-block;
                            height: $iconic-nav-icon-padding;
                            width: $iconic-nav-icon-padding;

                            // Older browsers
                            background-image: $custom-title-icon-after;
                            background-size: cover;

                            //Newer browsers - masks
                            @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                                background-color: var(--wtf-primary);
                                -webkit-mask-image: $custom-title-icon-after;
                                -webkit-mask-size: cover;
                                mask-image: $custom-title-icon-after;
                                mask-size: cover;
                                background-image: none;
                            }
                        }
                    }

                    &.active {

                        &::before {
                            margin-right: $iconic-nav-icon-padding;
                            content: "";
                            display: inline-block;
                            height: $iconic-nav-icon-padding;
                            width: $iconic-nav-icon-padding;

                            // Older browsers
                            background-image: $custom-title-icon-before;
                            background-size: cover;

                            //Newer browsers - masks
                            @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                                background-color: var(--wtf-primary);
                                -webkit-mask-image: $custom-title-icon-before;
                                -webkit-mask-size: cover;
                                mask-image: $custom-title-icon-before;
                                mask-size: cover;
                                background-image: none;
                            }
                        }

                        &::after {
                            margin-left: $iconic-nav-icon-padding;
                            content: "";
                            display: inline-block;
                            height: $iconic-nav-icon-padding;
                            width: $iconic-nav-icon-padding;

                            // Older browsers
                            background-image: $custom-title-icon-after;
                            background-size: cover;

                            //Newer browsers - masks
                            @supports (-webkit-mask-image: url()) or (mask-image: url()) {
                                background-color: var(--wtf-primary);
                                -webkit-mask-image: $custom-title-icon-after;
                                -webkit-mask-size: cover;
                                mask-image: $custom-title-icon-after;
                                mask-size: cover;
                                background-image: none;
                            }
                        }
                    }
                }
            }
        }
    }
}