// @include wtfDotTitle;
@mixin wtfDotTitle {
  &::after {
    content: "";
    //background-image: var(--wtf-primary);
    background-color: var(--wtf-heading-color);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    height: $wtf-line-border-height;
    width: $wtf-line-title-width;
    border-radius: $wtf-line-border-radius !important;
  }

}

// @include wtfDotNavLink;
@mixin wtfDotNavLink {
  &-link {
    position: relative;
    font-family: var(--wtf-body-font-family);
    @include wtfp;

    &:hover {
      &::after {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: $wtf-line-border-height;
        border-radius: $wtf-line-border-radius !important;
        background-color: var(--wtf-heading-color);
        margin-bottom: 5px;
      }

    }

    &.active {
      color: var(--wtf-primary);

      &::after {
        content: "";
        width: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        height: $wtf-line-border-height;
        border-radius: $wtf-line-border-radius !important;
        background-color: var(--wtf-heading-color);

      }
    }

  }

}

// @include wtfDot;
@mixin wtfDot {
  border: $wtf-line-border-height solid var(--wtf-heading-color);
  border-radius: $wtf-line-border-radius;

}

// @include wtfDotBottom;
@mixin wtfDotBottom {
  border-bottom: $wtf-line-border-height solid var(--wtf-heading-color);

}


//@include wtfDotMenuIcon;
@mixin wtfDotMenuIcon {
  width: calc($wtf-menu-icon-width * $fraction-lg);
  height: $wtf-line-border-height;
  //border-bottom-width: $wtf-line-border-height;
  border-radius: $wtf-line-border-radius !important;
  display: inline-block;

  @include media-breakpoint-up(sm) {
    width: $wtf-menu-icon-width;
  }
}