@mixin wtfHSupports {
  content: "";
    display: inline-block;
    height:  var(--wtf-theme-icon-size);
    width:  var(--wtf-theme-icon-size);

    // Older browsers
    background-image:  var(--wtf-theme-heading-icon);
    background-size: cover;

    //Newer browsers - masks
    @supports (-webkit-mask-image: url()) or (mask-image: url()) {
     background-image: var(--wtf-primary);
    background-color: var(--wtf-primary);
    -webkit-mask-image: var(--wtf-theme-heading-icon);
    -webkit-mask-size: cover;
    mask-image: var(--wtf-theme-heading-icon);
    mask-size: cover;
    }
}

@mixin wtfHAfter {
  &::after {
    margin-left: var(--wtf-body-font-size);
    @include wtfHSupports;
  }
}

@mixin wtfHBefore {
    &::before {
    margin-right: var(--wtf-body-font-size);
    @include wtfHSupports;
  }
  
}


.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  text-transform: uppercase;
  position: relative;
  padding-bottom: 0.5rem;
  text-align: center;
   
  @include wtfHAfter;
  @include wtfHBefore;

  &.brand {
    text-transform: lowercase;
    @include wtfHAfter;
    @include wtfHBefore;
  }
}