--wtf-fraction-error-font: 8;
  --wtf-fraction-slide-h1: 3;
  --wtf-fraction-slide-h2: 2;
  --wtf-fraction-xxl: 1.5;
  --wtf-fraction-xl: 1.25;
  --wtf-fraction-lg: 1;
  --wtf-fraction-md: 0.75;
  --wtf-fraction-sm: 0.5;
  --wtf-fraction-xs: 0.25;
  --wtf-body-font-size: 1.3rem;
  --wtf-body-font-weight: auto;
  --wtf-dropdown-min-width: 5rem;
  /*

  //New - checkbox
  --wtf-checkbox-icon-checked: url(../../assets/icons/icomoon-free490/SVG/checkmark.svg);

  //New - common
  --wtf-transition-animation-duration: .5s;
  --wtf-in-animation-duration: var(--wtf-transition-animation-duration);
  --wtf-out-animation-duration: .75s;*/
  --wtf-bg-image: var(--wtf-gradient), url(../../media/wtf-web-tech-focus-design-development-support-background.png);
  --wtf-hero-bg-image: url(../../media/wtf-web-tech-focus-design-development-support-background.png);
  --wtf-carousel-bg-image: url(../../media/wtf-web-tech-focus-design-development-support-background.png);
  --wtf-card-bg-image: url(../../media/wtf-web-tech-focus-design-development-support-background.png);
  /*Update across all themes*/
  --wtf-theme-border-thickness: 2px;
  --wtf-theme-border-radius: 2rem;
  --wtf-theme-heading-width: 70px;
  --wtf-theme-heading-font: "Raleway SemiBold", "sans-serif";
  --wtf-theme-hero-size: 85vh;
  --wtf-theme-hero-secondary-size: 40vh;
  --wtf-theme-icon-size: 3rem;
  --wtf-theme-checkbox-border-radius: 50%;
  --wtf-theme-heading-icon: url(../../assets/icons/icomoon-free490/SVG/flickr.svg);
  --wtf-border-width: var(--wtf-theme-border-thickness);
  --wtf-body-font-family: "Raleway Regular", "sans-serif";
  --wtf-theme-btn-border-width: var(--wtf-theme-border-thickness);
  --wtf-theme-btn-padding-x: 2rem;
  --wtf-theme-btn-padding-y: 0.5rem;
  --wtf-theme-btn-border-radius: 0;
  --wtf-checkbox-icon-unchecked: url(../../assets/icons/icomoon-free490/SVG/radio-unchecked.svg);
  --wtf-checkbox-icon-checked: url(../../assets/icons/icomoon-free490/SVG/radio-checked.svg);
  --wtf-transition-animation-duration: .5s;
  --wtf-in-animation-duration: var(--wtf-transition-animation-duration);
  --wtf-out-animation-duration: .75s;