.btn {
    &-nav{
        --wtf-btn-bg: var(--wtf-secondary);
        --wtf-btn-border-color: var(--wtf-secondary);
        --wtf-btn-hover-bg: var(--wtf-secondary);
        --wtf-btn-hover-border-color: var(--wtf-secondary);
        --wtf-btn-active-bg: var(--wtf-secondary);
        --wtf-btn-active-border-color: var(--wtf-secondary);
        --wtf-btn-disabled-bg: var(--wtf-secondary);
        --wtf-btn-disabled-border-color: var(--wtf-secondary);

        --wtf-btn-border-radius: var(--wtf-theme-btn-border-radius);
        --wtf-btn-border-width: var(--wtf-theme-btn-border-width);
        --wtf-btn-padding-x: 0.5rem;
        --wtf-btn-padding-y: 0.5rem;

    }
  }