@mixin wtfCommonBtnBodyBg {
    --wtf-heading-color: var(--wtf-body-bg);
    --wtf-btn-color: var(--wtf-body-bg);
    --wtf-btn-hover-color: var(--wtf-body-bg);
    --wtf-btn-active-color: var(--wtf-body-bg);
    --wtf-btn-disabled-color: var(--wtf-body-bg);
}

@mixin wtfCommonBtnBodyColor {
    --wtf-heading-color: var(--wtf-body-color);
    --wtf-btn-color: var(--wtf-body-color);
    --wtf-btn-hover-color: var(--wtf-body-color);
    --wtf-btn-active-color: var(--wtf-body-color);
    --wtf-btn-disabled-color: var(--wtf-body-color);
}

@mixin wtfCommonBtnOutlineBodyBg {
    /*
  --wtf-heading-color: var(--wtf-body-bg);
  --wtf-btn-color: var(--wtf-body-bg);
  */
    --wtf-btn-hover-color: var(--wtf-body-bg);
    --wtf-btn-active-color: var(--wtf-body-bg);
    --wtf-btn-disabled-color: var(--wtf-body-bg);
}

@mixin wtfCommonBtnOutlineBodyColor {
    /*
--wtf-heading-color: var(--wtf-body-color);
  --wtf-btn-color: var(--wtf-body-color);
  */
    --wtf-btn-hover-color: var(--wtf-body-color);
    --wtf-btn-active-color: var(--wtf-body-color);
    --wtf-btn-disabled-color: var(--wtf-body-color);
}


@mixin wtfCommonBtn {
    --wtf-btn-padding-x: var(--wtf-theme-btn-padding-x);
    --wtf-btn-padding-y: var(--wtf-theme-btn-padding-y);
    --wtf-btn-border-radius: var(--wtf-theme-btn-border-radius);
    --wtf-btn-border-width: var(--wtf-theme-btn-border-width);

}

@mixin wtfCommonBtnSvg {
    svg {
        fill: currentColor;
        height: var(--wtf-btn-font-size);
        width: var(--wtf-btn-font-size);
        line-height: var(--wtf-btn-font-size);
    }

}

.btn {
    &-theme {
        @include wtfCommonBtn;
        //@include wtfCommonBtnBodyColor;
        @include wtfCommonBtnBodyBg;
        @include wtfCommonBtnSvg;

        --wtf-btn-bg: var(--wtf-teal);
        --wtf-btn-border-color: var(--wtf-teal);
        --wtf-btn-hover-bg: var(--wtf-teal);
        --wtf-btn-hover-border-color: var(--wtf-teal);
        --wtf-btn-active-bg: var(--wtf-teal);
        --wtf-btn-active-border-color: var(--wtf-teal);
        --wtf-btn-disabled-bg: var(--wtf-teal);
        --wtf-btn-disabled-border-color: var(--wtf-teal);

        --wtf-btn-border-radius: var(--wtf-theme-btn-border-radius);
        --wtf-btn-border-width: var(--wtf-theme-btn-border-width);
        --wtf-btn-padding-x: 0.5rem;
        --wtf-btn-padding-y: 0.5rem;

        position: fixed;
        right: 0.5rem;
        bottom: 0.5rem;


    }

    &-primary {
        @include wtfCommonBtn;
        //@include wtfCommonBtnBodyColor;
        @include wtfCommonBtnBodyBg;
        @include wtfCommonBtnSvg;

        --wtf-btn-bg: var(--wtf-primary);
        --wtf-btn-border-color: var(--wtf-primary);
        --wtf-btn-hover-bg: var(--wtf-primary);
        --wtf-btn-hover-border-color: var(--wtf-primary);
        --wtf-btn-active-bg: var(--wtf-primary);
        --wtf-btn-active-border-color: var(--wtf-primary);
        --wtf-btn-disabled-bg: var(--wtf-primary);
        --wtf-btn-disabled-border-color: var(--wtf-primary);
    }

    &-secondary {
        @include wtfCommonBtn;
        @include wtfCommonBtnBodyColor;
        //@include wtfCommonBtnBodyBg;
        @include wtfCommonBtnSvg;

        --wtf-btn-bg: var(--wtf-secondary);
        --wtf-btn-border-color: var(--wtf-secondary);
        --wtf-btn-hover-bg: var(--wtf-secondary);
        --wtf-btn-hover-border-color: var(--wtf-secondary);
        --wtf-btn-active-bg: var(--wtf-secondary);
        --wtf-btn-active-border-color: var(--wtf-secondary);
        --wtf-btn-disabled-bg: var(--wtf-secondary);
        --wtf-btn-disabled-border-color: var(--wtf-secondary);

    }

    &-success {
        @include wtfCommonBtn;
        //@include wtfCommonBtnBodyColor;
        @include wtfCommonBtnBodyBg;
        @include wtfCommonBtnSvg;
        --wtf-btn-bg: var(--wtf-success);
        --wtf-btn-border-color: var(--wtf-success);
        --wtf-btn-hover-bg: var(--wtf-success);
        --wtf-btn-hover-border-color: var(--wtf-success);
        --wtf-btn-active-bg: var(--wtf-success);
        --wtf-btn-active-border-color: var(--wtf-success);
        --wtf-btn-disabled-bg: var(--wtf-success);
        --wtf-btn-disabled-border-color: var(--wtf-success);
    }

    &-danger {
        @include wtfCommonBtn;
        //@include wtfCommonBtnBodyColor;
        @include wtfCommonBtnBodyBg;
        @include wtfCommonBtnSvg;
        --wtf-btn-bg: var(--wtf-danger);
        --wtf-btn-border-color: var(--wtf-danger);
        --wtf-btn-hover-bg: var(--wtf-danger);
        --wtf-btn-hover-border-color: var(--wtf-danger);
        --wtf-btn-active-bg: var(--wtf-danger);
        --wtf-btn-active-border-color: var(--wtf-danger);
        --wtf-btn-disabled-bg: var(--wtf-danger);
        --wtf-btn-disabled-border-color: var(--wtf-danger);
    }

    &-warning {
        @include wtfCommonBtn;
        //@include wtfCommonBtnBodyColor;
        @include wtfCommonBtnBodyBg;
        @include wtfCommonBtnSvg;
        --wtf-btn-bg: var(--wtf-warning);
        --wtf-btn-border-color: var(--wtf-warning);
        --wtf-btn-hover-bg: var(--wtf-warning);
        --wtf-btn-hover-border-color: var(--wtf-warning);
        --wtf-btn-active-bg: var(--wtf-warning);
        --wtf-btn-active-border-color: var(--wtf-warning);
        --wtf-btn-disabled-bg: var(--wtf-warning);
        --wtf-btn-disabled-border-color: var(--wtf-warning);
    }

    &-dark {
        @include wtfCommonBtn;
        //@include wtfCommonBtnBodyColor;
        @include wtfCommonBtnBodyBg;
        @include wtfCommonBtnSvg;
        --wtf-btn-bg: var(--wtf-dark);
        --wtf-btn-border-color: var(--wtf-dark);
        --wtf-btn-hover-bg: var(--wtf-dark);
        --wtf-btn-hover-border-color: var(--wtf-dark);
        --wtf-btn-active-bg: var(--wtf-dark);
        --wtf-btn-active-border-color: var(--wtf-dark);
        --wtf-btn-disabled-bg: var(--wtf-dark);
        --wtf-btn-disabled-border-color: var(--wtf-dark);
    }

    &-light {
        @include wtfCommonBtn;
        @include wtfCommonBtnBodyColor;
        //@include wtfCommonBtnBodyBg;
        @include wtfCommonBtnSvg;
        --wtf-btn-bg: var(--wtf-light);
        --wtf-btn-border-color: var(--wtf-light);
        --wtf-btn-hover-bg: var(--wtf-light);
        --wtf-btn-hover-border-color: var(--wtf-light);
        --wtf-btn-active-bg: var(--wtf-light);
        --wtf-btn-active-border-color: var(--wtf-light);
        --wtf-btn-disabled-bg: var(--wtf-light);
        --wtf-btn-disabled-border-color: var(--wtf-light);
    }

    &-info {
        @include wtfCommonBtn;
        @include wtfCommonBtnBodyColor;
        //@include wtfCommonBtnBodyBg;
        @include wtfCommonBtnSvg;
        --wtf-btn-bg: var(--wtf-info);
        --wtf-btn-border-color: var(--wtf-info);
        --wtf-btn-hover-bg: var(--wtf-info);
        --wtf-btn-hover-border-color: var(--wtf-info);
        --wtf-btn-active-bg: var(--wtf-info);
        --wtf-btn-active-border-color: var(--wtf-info);
        --wtf-btn-disabled-bg: var(--wtf-info);
        --wtf-btn-disabled-border-color: var(--wtf-info);
    }

    &-outline-primary {
        @include wtfCommonBtn;
        //@include wtfCommonBtnOutlineBodyColor;
        @include wtfCommonBtnOutlineBodyBg;
        @include wtfCommonBtnSvg;
        --wtf-btn-color: var(--wtf-primary);
        --wtf-btn-border-color: var(--wtf-primary);
        --wtf-btn-hover-bg: var(--wtf-primary);
        --wtf-btn-hover-border-color: var(--wtf-primary);
        --wtf-btn-active-bg: var(--wtf-primary);
        --wtf-btn-active-border-color: var(--wtf-primary);
        --wtf-btn-disabled-color: var(--wtf-primary);
        --wtf-btn-disabled-border-color: var(--wtf-primary);
    }

    &-outline-secondary {
        @include wtfCommonBtn;
        @include wtfCommonBtnOutlineBodyColor;
        //@include wtfCommonBtnOutlineBodyBg;
        @include wtfCommonBtnSvg;
        --wtf-btn-color: var(--wtf-secondary);
        --wtf-btn-border-color: var(--wtf-secondary);
        --wtf-btn-hover-bg: var(--wtf-secondary);
        --wtf-btn-hover-border-color: var(--wtf-secondary);
        --wtf-btn-active-bg: var(--wtf-secondary);
        --wtf-btn-active-border-color: var(--wtf-secondary);
        --wtf-btn-disabled-color: var(--wtf-secondary);
        --wtf-btn-disabled-border-color: var(--wtf-secondary);
    }

    &-outline-success {
        @include wtfCommonBtn;
        //@include wtfCommonBtnOutlineBodyColor;
        @include wtfCommonBtnOutlineBodyBg;
        @include wtfCommonBtnSvg;
        --wtf-btn-bg: var(--wtf-success);
        --wtf-btn-border-color: var(--wtf-success);
        --wtf-btn-hover-bg: var(--wtf-success);
        --wtf-btn-hover-border-color: var(--wtf-success);
        --wtf-btn-active-bg: var(--wtf-success);
        --wtf-btn-active-border-color: var(--wtf-success);
        --wtf-btn-disabled-bg: var(--wtf-success);
        --wtf-btn-disabled-border-color: var(--wtf-success);
    }

    &-outline-warning {
        @include wtfCommonBtn;
        //@include wtfCommonBtnOutlineBodyColor;
        @include wtfCommonBtnOutlineBodyBg;
        @include wtfCommonBtnSvg;
        --wtf-btn-bg: var(--wtf-warning);
        --wtf-btn-border-color: var(--wtf-warning);
        --wtf-btn-hover-bg: var(--wtf-warning);
        --wtf-btn-hover-border-color: var(--wtf-warning);
        --wtf-btn-active-bg: var(--wtf-warning);
        --wtf-btn-active-border-color: var(--wtf-warning);
        --wtf-btn-disabled-bg: var(--wtf-warning);
        --wtf-btn-disabled-border-color: var(--wtf-warning);
    }

    &-outline-dark {
        @include wtfCommonBtn;
        //@include wtfCommonBtnOutlineBodyColor;
        @include wtfCommonBtnOutlineBodyBg;
        @include wtfCommonBtnSvg;
        --wtf-btn-bg: var(--wtf-dark);
        --wtf-btn-border-color: var(--wtf-dark);
        --wtf-btn-hover-bg: var(--wtf-dark);
        --wtf-btn-hover-border-color: var(--wtf-dark);
        --wtf-btn-active-bg: var(--wtf-dark);
        --wtf-btn-active-border-color: var(--wtf-dark);
        --wtf-btn-disabled-bg: var(--wtf-dark);
        --wtf-btn-disabled-border-color: var(--wtf-dark);
    }

    &-outline-light {
        @include wtfCommonBtn;
        @include wtfCommonBtnOutlineBodyColor;
        //@include wtfCommonBtnOutlineBodyBg;
        @include wtfCommonBtnSvg;
        --wtf-btn-bg: var(--wtf-light);
        --wtf-btn-border-color: var(--wtf-light);
        --wtf-btn-hover-bg: var(--wtf-light);
        --wtf-btn-hover-border-color: var(--wtf-light);
        --wtf-btn-active-bg: var(--wtf-light);
        --wtf-btn-active-border-color: var(--wtf-light);
        --wtf-btn-disabled-bg: var(--wtf-light);
        --wtf-btn-disabled-border-color: var(--wtf-light);
    }

    &-outline-info {
        @include wtfCommonBtn;
        @include wtfCommonBtnOutlineBodyColor;
        //@include wtfCommonBtnOutlineBodyBg;
        @include wtfCommonBtnSvg;
        --wtf-btn-bg: var(--wtf-info);
        --wtf-btn-border-color: var(--wtf-info);
        --wtf-btn-hover-bg: var(--wtf-info);
        --wtf-btn-hover-border-color: var(--wtf-info);
        --wtf-btn-active-bg: var(--wtf-info);
        --wtf-btn-active-border-color: var(--wtf-info);
        --wtf-btn-disabled-bg: var(--wtf-info);
        --wtf-btn-disabled-border-color: var(--wtf-info);
    }


    &-i-circle {
        --wtf-btn-color: var(--wtf-body-bg);
    }

    &-i-clear {
        --wtf-btn-color: transparent;
        position: relative;
        --wtf-btn-border-radius: 50%;
        --wtf-btn-border-width: 0;
        --wtf-btn-padding-x: 0.5rem;
        --wtf-btn-padding-y: 0.5rem;

        svg {
            fill: var(--wtf-primary);
            color: var(--wtf-primary);
            width: 1.5rem;
            height: 1.5rem;
            display: inline-block;
        }

        &:hover {
            transform: translateY(-3px);
            opacity: 0.8;
        }
    }

    &-i-contact {
        position: relative;
        --wtf-btn-border-radius: 50%;
        --wtf-btn-border-width: 0;
        --wtf-btn-padding-x: 0rem;
        --wtf-btn-padding-y: 0rem;
        // @include wtfp;

        svg {
            fill: var(--wtf-primary);
            color: var(--wtf-primary);
            width: 1.5rem;
            height: 1.5rem;
            display: inline-block;
            margin-right: 1rem;
        }

        &:hover {
            transform: translateY(-3px);
            opacity: 0.8;
        }
    }

    &-icon {
        --wtf-heading-color: var(--wtf-body-bg);
        --wtf-btn-color: var(--wtf-body-bg);
        --wtf-heading-color: var(--wtf-body-bg);
        --wtf-btn-bg: var(--wtf-primary);
        --wtf-btn-border-color: var(--wtf-primary);
        --wtf-btn-hover-color: var(--wtf-body-bg);
        --wtf-btn-hover-bg: var(--wtf-primary);
        --wtf-btn-hover-border-color: var(--wtf-primary);
        --wtf-btn-active-color: var(--wtf-body-bg);
        --wtf-btn-active-bg: var(--wtf-primary);
        --wtf-btn-active-border-color: var(--wtf-primary);
        --wtf-btn-disabled-color: var(--wtf-body-bg);
        --wtf-btn-disabled-bg: var(--wtf-primary);
        --wtf-btn-disabled-border-color: var(--wtf-primary);
        position: relative;
        --wtf-btn-border-radius: 50%;
        --wtf-btn-border-width: 0;
        --wtf-btn-padding-x: 0.5rem;
        --wtf-btn-padding-y: 0.5rem;
        //box-shadow: $base-box-shadow;

        span {
            display: none;
        }

        svg {
            fill: var(--wtf-body-bg);
            color: var(--wtf-body-bg);
            width: var(--wtf-body-font-size);
            height: var(--wtf-body-font-size);
            display: inline-block;
        }

    }

    &-lg {
        //@include wtfH5;
    }

    

    &-animated {
        animation: moveInBottom var(--wtf-in-animation-duration) ease-out var(--wtf-out-animation-duration);
        animation-fill-mode: backwards;
        position: relative;

        /*
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: var(--wtf-btn-border-radius);
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all $wtf-transition-animation-duration;
        background-color: var(--wtf-primary);

    }*/

        &:hover {
            transform: translateY(-3px);
            //box-shadow: 0 1rem 2rem rgba($black,.2);
            /*
        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }*/
        }

        &:active,
        &:focus {
            outline: none;
            transform: translateY(-1px);
            //box-shadow: 0 .5rem 1rem rgba($black,.2);
        }
    }

}